﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels

@model CartItemModel
@if (Model.CanBuyEntry)
{
    <form action="@Model.AddToCartLink" method="post" >
        <input type="text" name="Quantity" value="1" />
        <input type="submit" name="Buy" value="Buy" />
        <input type="hidden" name="Code" value="@Model.Code" />
    </form>
}