﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Commerce.SampleMvc.Models
@using EPiServer.Web.Mvc.Html

@model ICatalogViewModel<CatalogContentBase, HomePage>
@if (Model.Variants.Value.Any())
{
    <h4>Variants</h4>
    <div>
        @foreach (var child in Model.Variants.Value)
        {
            <div>
                <h5>@Html.ContentLink(child.CatalogContent)</h5>
                <div>@Html.Partial("_AssetImageLink", child.CatalogContent)</div>
                <div>@Html.Partial("_Inventory", child.Inventory.Value ?? new EPiServer.Commerce.SpecializedProperties.Inventory())</div>
                <div>@Html.Partial("_Price", child.Price.Value ?? new EPiServer.Commerce.SpecializedProperties.Price())</div>
            
                <div>@Html.Partial("_BuyItem", new CartItemModel(child.CatalogContent))</div>
                <div>@Html.Partial("_WishListItem", new CartItemModel(child.CatalogContent))</div>
            </div>
        }
    </div>
}
