﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Web.Mvc.Html
@model ICatalogViewModel<CatalogContentBase,HomePage>
    
@if(Model.ChildCategories.Value.Any())
{
    <h3>Categories</h3>
    <div class="topMenu">
        <ul>
            @foreach (var child in Model.ChildCategories.Value)
            {
                <li>@Html.ContentLink(child)</li>
            }
        </ul>
    </div>
}