﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Commerce.SampleMvc.Models
@using EPiServer.Web.Mvc.Html

@model ICatalogViewModel<CatalogContentBase, HomePage>

@if (Model.Products.Value.Any())
{
    <h4>Products</h4>
    <div>
        @foreach (var child in Model.Products.Value)
        {
            <div>
                <h5>@Html.ContentLink(child.CatalogContent)</h5>
                <div>@Html.Partial("_AssetImageLink", child.CatalogContent)</div>
            
                <div>Price: @Html.UnitPriceRange(child.Variants)</div>
                <div>In stock: @Html.InStockRange(child.Variants)</div>
            </div>
        }
    </div>
}