﻿@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using System.Web
@using System.Web.Security
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@model IPageViewModel<PageData>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.RequiredClientResources(EPiServer.Framework.Web.RenderingTags.Header)

    <script src="/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#market').on('change', function (event) {
            submit(event.target);
        });
        function submit(target) {
            var form = $(target).parents('form');
            form.submit();
        }
    });
</script>
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    <!-- Menu section -->
    <div class="topMenu">
        <ul>
            <li><a href="/">Home</a></li>
            @foreach (var child in Model.TopMenuContent)
            {
                <li>@Html.ContentLink(child)</li>
            }
            @if (HttpContext.Current.Request.IsAuthenticated)
            {
                <li>@HttpContext.Current.User.Identity.Name</li>
            }
            else
            {
                <li><a href="@FormsAuthentication.LoginUrl">Login</a></li>
            }
            <li>@using (Html.BeginForm("Submit", "SelectMarket", new { contentLink = Url.RequestContext.RouteData.DataTokens["node"] })) 
                {
                    @Html.DropDownListFor(x => x.MarketSelector, Model.MarketSelector,Model.CurrentMarket.MarketName,new { @id = "market" })
                }
            </li>
        </ul>
    </div>


    <div class="container">
        @RenderBody()
    </div>



    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Html.RequiredClientResources(EPiServer.Framework.Web.RenderingTags.Footer)
</body>
</html>
