﻿@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using System.Web
@using System.Web.Security
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@model IPageViewModel<PageData>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.RequiredClientResources(EPiServer.Framework.Web.RenderingTags.Header)
</head>
<body>
    Welcome mobile device!
    <div class="container">
        @RenderBody()
    </div>
    <!-- Menu section -->
    <div class="topMenu">
        <ul>
            <li><a href="/">Home</a></li>
            @foreach (var child in Model.TopMenuContent)
            {
                <li>@Html.ContentLink(child)</li>
            }
            @if (HttpContext.Current.Request.IsAuthenticated)
            {
                <li>@HttpContext.Current.User.Identity.Name</li>
            }
            else
            {
                <li><a href="@FormsAuthentication.LoginUrl">Login</a></li>
            }
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Html.RequiredClientResources(EPiServer.Framework.Web.RenderingTags.Footer)
</body>
</html>
