﻿@model EPiServer.Commerce.SpecializedProperties.Price

@if (Model != null && Model.UnitPrice.Amount > 0)
{
<div>Unit Price: @Model.UnitPrice.ToString(System.Globalization.CultureInfo.CurrentCulture)</div> 
}
else
{
    <div>Not for sale</div>
}