﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels

@model CartItemModel
@if (Model.CanBuyEntry)
{
    <form action="@Model.AddToWishListLink" method="post" >
        <input type="text" name="Quantity" value="1" />
        <input type="submit" name="WishList" value="Add to wish list" />
        <input type="hidden" name="Code" value="@Model.Code" />
    </form>
}