﻿@using EPiServer
@using EPiServer.Core
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model CompletedOrderViewModel
@{
  ViewBag.Title = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

<div>
  <span>The cart is now purchase order @Model.TrackingNumber (#@Model.PurchaseOrderId).</span>
</div>