﻿@using EPiServer
@using EPiServer.Core
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model CheckoutViewModel
@{
  ViewBag.Title = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

<div>
  <ul>
    @foreach (var action in @Model.Actions)
    {
      if (action.Key == "Shop")
      {
        <li>@Html.ContentLink(action.Value, @Model.ShoppingOverviewPage.ContentLink)</li>
      }
      else if (action.Key == "SetPayment")
      {
        foreach (var provider in @Model.PaymentProviders)
        {
          <li>@Html.ActionLink(string.Format(action.Value, provider.Value), action.Key, new { providerId = provider.Key })</li>
        }
      }
      else
      {
        <li>@Html.ActionLink(action.Value, action.Key)</li>
      }
    }
  </ul>
</div>
