﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.SampleMvc.Models.Catalog
@using EPiServer.Web.Mvc.Html
@model ICatalogViewModel<DepartmentNodeWithProductsContent, HomePage>
@{
    ViewBag.Title = Model.CatalogContent.DisplayName;
}

<h2>@Html.PropertyFor(x => x.CatalogContent.DisplayName)</h2>

@Html.Partial("_CatalogCategories", Model)
@Html.Partial("_CatalogProducts", Model)

<hr />
@Html.PropertyFor(x => x.CatalogContent.LinkReference)