﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models
@using EPiServer.Web.Mvc.Html
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@model FashionProductViewModel
@{
    ViewBag.Title = "Catalog";
}

<script src="/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sizesId').on('change', function (event) {
            submit(event.target);
        });
        
        $('#colorsId').on('change', function (event) {
            submit(event.target);
        });

        function submit(target) {
            var form = $(target).parents('form');
            form.submit();
        }
    });
</script>

@using(Html.BeginForm()) {
    <div>
        @Html.DropDownListFor(x => x.Size, Model.Size, new {@id="sizesId"})
        @Html.DropDownListFor(x => x.Color, Model.Color, new {@id="colorsId"})
    </div>
}
    
@Html.PropertyFor(x => x.FashionItemViewModel.CatalogContent.DisplayName)
<br />
@Html.AssetImage(Model.FashionItemViewModel.CatalogContent)

<div>@Html.Partial("_Inventory", Model.FashionItemViewModel.Inventory.Value ?? new EPiServer.Commerce.SpecializedProperties.Inventory())</div>
<div>@Html.Partial("_Price", Model.FashionItemViewModel.Price.Value ?? new EPiServer.Commerce.SpecializedProperties.Price())</div> 

<div>@Html.Partial("_BuyItem", new CartItemModel(Model.FashionItemViewModel.CatalogContent))</div>
<div>@Html.Partial("_WishListItem", new CartItemModel(Model.FashionItemViewModel.CatalogContent))</div>