﻿@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@model ICatalogViewModel<CatalogContentBase, PageData>
@{
    ViewBag.Title = "Shopping Overview Page";
}

<h2>Shopping Overview Page</h2>

<ul>
    @foreach (var category in Model.ChildCategories.Value)
    {
        <li>@Html.ContentLink(category)</li>
    }
</ul>