﻿@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@model IPageViewModel<PageData>
@{
    ViewBag.Title = "Shopping Overview Page";
}

<h2>Shopping Overview Page</h2>

<h3>No catalog available.</h3>
