﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Commerce.SampleMvc.Models
@using EPiServer.Web.Mvc.Html
@model ICatalogViewModel<EntryContentBase, HomePage>
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog Entry</h2>
@Html.PropertyFor(x => x.CatalogContent.DisplayName)
<br />
@Html.AssetImage(Model.CatalogContent)
@Html.Partial("_BuyItem", new CartItemModel(Model.CatalogContent))
@Html.Partial("_WishListItem", new CartItemModel(Model.CatalogContent))
@Html.Partial("_CatalogCategories", Model)
@Html.Partial("_CatalogEntries", Model)
