﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.SampleMvc.Models.Catalog
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Web.Mvc.Html;
@model CartModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Your Shopping Cart</h2>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Quantity</td>
            <td>List price</td>
            <td>Your price</td>
        </tr>
    </thead>
    @foreach (var lineItem in Model.LineItems)
    {
        <tr>
            <td>@lineItem.DisplayName</td>
            <td>@lineItem.Quantity</td>
            <td>@lineItem.ListPrice</td>
            <td>@lineItem.PlacedPrice</td>
        </tr>
    }
</table>
<a href="./ClearCart">Empty shopping cart</a>