﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models
@using EPiServer.Web.Mvc.Html
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Core
@model IVariationViewModel<VariationContent, PageData>
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog Variation</h2>
@Html.PropertyFor(x => x.CatalogContent.DisplayName)
<br />
@Html.AssetImage(Model.CatalogContent)
    
@Html.Partial("_Inventory", Model.Inventory.Value ?? new EPiServer.Commerce.SpecializedProperties.Inventory())
@Html.Partial("_Price", Model.Price.Value ?? new EPiServer.Commerce.SpecializedProperties.Price())

@Html.Partial("_BuyItem", new CartItemModel(Model.CatalogContent))
@Html.Partial("_WishListItem", new CartItemModel(Model.CatalogContent))