﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Commerce.Catalog.ContentTypes
@using EPiServer.Web.Mvc.Html

@model ICatalogViewModel<CatalogContent,HomePage>
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
@Html.PropertyFor(x => x.CatalogContent.Name)
<br />
@Html.Partial("_CatalogCategories", Model)
@Html.Partial("_CatalogEntries", Model)

