﻿@using EPiServer
@using EPiServer.Core
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model IPageViewModel<PageData>
@{
    ViewBag.Title = Model.CurrentPage.Name;
}

<h2>@Model.CurrentPage.Name</h2>

<ul>
    @foreach (var page in DataFactory.Instance.GetChildren<PageData>(Model.CurrentPage.ContentLink))
    {
        <li>
            @Html.ContentLink(page)
        </li>
    }
</ul>
