﻿@using EPiServer.Commerce.SampleMvc.Models
@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Web.Mvc.Html

@model MediaProductViewModel
@{
    ViewBag.Title = "Catalog";
}
<script src="/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#mediaTypeId').on('change', function (event) {
            submit(event.target);
        });

        function submit(target) {
            var form = $(target).parents('form');
            form.submit();
        }
    });
</script>

@using(Html.BeginForm()) {
    <div>
        @Html.DropDownListFor(x => x.MediaType, Model.MediaType, new {@id="mediaTypeId"})
    </div>
}
    
@Html.PropertyFor(x => x.MediaItemViewModel.CatalogContent.Name)
<br />
@Html.AssetImage(Model.MediaItemViewModel.CatalogContent)

<div>@Html.Partial("_Inventory", Model.MediaItemViewModel.Inventory.Value ?? new EPiServer.Commerce.SpecializedProperties.Inventory())</div>
<div>@Html.Partial("_Price", Model.MediaItemViewModel.Price.Value ?? new EPiServer.Commerce.SpecializedProperties.Price())</div> 

<div>@Html.Partial("_BuyItem", new CartItemModel(Model.MediaItemViewModel.CatalogContent))</div>
<div>@Html.Partial("_WishListItem", new CartItemModel(Model.MediaItemViewModel.CatalogContent))</div>