﻿@using EPiServer.Commerce.SampleMvc.Models.ViewModels
@using EPiServer.Commerce.SampleMvc.Models.PageTypes
@using EPiServer.Web.Mvc.Html
<h2>HomeView</h2>
@model IPageViewModel<HomePage>
@Html.PropertyFor(x => x.CurrentPage.HomeHero)
